/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}
 
/* 重置列表元素 */
ul, ol { list-style: none; }
/* 清除浮动 */
.clearfix::after {
    display: block;
    height: 0;
    content: "";
    clear: both;
    visibility: hidden;
}

// 头部导航样式
.van-nav-bar__left,
  .van-nav-bar__right {
    padding: 0 9px ;
  }
.van-nav-bar .van-icon {
color: #0f0f0f;
font-size: 22px;
}
.van-nav-bar__title {  
    margin-left: 30px;
    max-width: initial;
    padding-left: 10px;
  }
  .van-search__field .van-field__left-icon {
    display: none;
  }

 .van-field__control {
    color: #969696 !important;
    // font-family: monospace;
    font-size: 15px;
  }
  .van-field__control::placeholder {
    color: #969696 !important;
    // font-family: monospace;
    font-size: 15px;
  }
   .van-search__content {
    background: #f2f2f2;
  }
   .van-search__field {
    height: 30px;
    width: 264px;
  }